<footer>
  <div class="social-wrapper">
    <ul>
      <a href="https://www.facebook.com/JTRisotto">
        <li class="facebook"></li>
      </a>
      <a href="https://www.instagram.com/jtrisotto/">
        <li class="instagram"></li>
      </a>
    </ul>
  </div>
  <div class="store-information-wrapper">
    <a>404台中市北區一中街97號</a>
    <br>
    <a>(04)22232907</a>
  </div>
</footer>

<script type="text/javascript" src="js/jquery-3.5.1.js"></script>
<script src="javascript/footer.js"></script>
<link rel=stylesheet type="text/css" href="css/footer.css">