<header class="header-wrapper">
  <a href="/" class="header-logo"></a>
  <nav class="header-nav">
    <ul>
      <li>
        <a id="menu">Menu</a>
      </li>
      <li class="nav-item">
        <a id="locations">Locations</a>
      </li>
      <li class="nav-item">
<!--        沒有網域，暫時以JS跳轉-->
        <!--        <a href="https://michiramen.com/about" class="item-text">About</a>-->
        <a id="about">About</a>
      </li>
    </ul>
  </nav>
</header>

<script type="text/javascript" src="static/js/jquery-3.5.1.js"></script>
<script src="static/js/header.js"></script>
<link rel=stylesheet type="text/css" href="static/css//header.css">